<div *ngIf="user" class="userDetail">
  <h2>User {{user.id}}</h2>
<dl>
  <dt>Email:</dt><dd>{{user.userEmail}}</dd>
  <dt>Username:</dt><dd>{{user.username}}</dd>
  <dt><label for="roleInput">Roles:</label></dt>
  <dd><div class="chipField" >
    <mat-form-field>
      <mat-chip-list  #chipListRoles aria-label="Role selection">
        <mat-chip
          *ngFor="let role of user.roles"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeRole(role)">
          {{role.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon></mat-chip>
        <input id="roleInput" #roleInput
               placeholder="Type to add roles for user {{user.id}}"
               [formControl]="roleCtrl"
               [matAutocomplete]="autoRoles"
               [matChipInputFor]="chipListRoles"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addRole($event)">
      </mat-chip-list>
      <mat-autocomplete
        #autoRoles="matAutocomplete"
        (optionSelected)="selectedRole($event)">
        <mat-option
          *ngFor="let role of filteredRoles | async"
          [value]="role.name">
          {{role.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div></dd>
  <dt><label for="permissionInput">Intrinsic Permissions:</label></dt>
  <dd><div class="chipField">
    <mat-form-field>
      <mat-chip-list #chipListPermissions aria-label="Permission selection" >
        <mat-chip *ngFor="let perm of user.intrinsicPermissions"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removePerm(perm)">
          {{perm.type}}:{{perm.action}}:{{perm.objId}}:{{perm.field}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon></mat-chip>
        <input id="permissionInput" #permissionInput
               placeholder="Type to add permissions to user {{user.id}}"
               [formControl]="permissionCtrl"
               [matAutocomplete]="autoPerms"
               [matChipInputFor]="chipListPermissions"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addPermission($event)">
      </mat-chip-list>
      <mat-autocomplete
        #autoPerms="matAutocomplete"
        (optionSelected)="selectedPermission($event)">
        <mat-option
          *ngFor="let perm of filteredPermissions | async"
          [value]="permString(perm)">
          {{permString(perm)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div></dd>
</dl>
</div>
