<mat-table class="roles-table mat-elevation-z8" [dataSource]="dataSource" >
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox style="visibility: hidden" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let role">
      <mat-checkbox (click)="rowClicked($event, role)"
                    (change)="$event ? selection.toggle(role) : null"
                    [checked]="selection.isSelected(role)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let role">{{role.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef>Key Name</mat-header-cell>
    <mat-cell *matCellDef="let role">{{role.key}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Friendly Name</mat-header-cell>
    <mat-cell *matCellDef="let role">{{role.name}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<app-role-detail [role]="clickedRole" (updated)="onUpdate()"></app-role-detail>
